@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<mesajlar>

@if (Model != null && Model.Any())
{
    foreach (var x in Model)
    {
        <div class="timeline timeline-inverse">
            <div class="time-label">
                <span class="bg-warning">
                    @x.Tarih.ToShortDateString()
                </span>
            </div>

            <div>
                <i class="fas fa-envelope bg-primary"></i>

                <div class="timeline-item">
                    <h3 class="timeline-header">
                        <a href="#">Support Team</a> @x.Konu
                    </h3>

                    <div class="timeline-body">
                        @x.Icerik
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p class="text-muted">Gösterilecek mesaj yok.</p>
}
